<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(アルバム編集)}"></head>
<body>
<div th:replace="~{layout :: header}"></div>
    <h3 class="text-center">アルバム編集</h3>
        <form th:action="@{/albums/{albumId}/edit(albumId=${album.albumId})}" method="post" class="w-50 mx-auto mt-5 p-4 border rounded shadow" th:object="${album}">
            <div class="mb-3">
                <label for="title" class="form-label">タイトル：</label>
                <input type="text" id="title" name="title" class="form-control" th:field="*{title}">
            </div>
            <div class="mb-3">
                <label for="artist" class="form-label">アーティスト：</label>
                <input type="text" id="artist" name="artist" class="form-control" th:field="*{artist}">
            </div>
            <div class="mb-3">
                <label for="release-date" class="form-label">リリース日：</label>
                <input type="date" id="release-date" name="release-date" class="form-control" th:field="*{releaseDate}">
            </div>
            <button type="submit" class="btn btn-primary w-100">変更</button>
            <a th:href="@{/albums}" class="btn btn-secondary mt-3 w-100">一覧に戻る</a>
        </form>
<div th:replace="~{layout :: footer}"></div>
</body>
</html>